*.ipch
*.db
*.opendb
*.obj
*.tlog
*.pch
*.pdb
*.exp
*.iobj
*.ipdb
*.lib
*.log
*.db-shm
*.db-wal
*.lastcodeanalysissucceeded
*.ilk
*.codeanalysis
*.codeanalysisast
*.hmbook
*.hmdesk
*.cache
tags
ctags
macro/temp_history.txt
_vim_unite_
/.vs
.vscode

internal/gui.mac.ini

/Release/
/Debug/
internal/dll_project/file_searcher/.vs/file_searcher
internal/dll_project/file_searcher/file_searcher/bin/
internal/dll_project/file_searcher/file_searcher/obj
internal/dll_project/ohtorii_tools/.vs/ohtorii_tools/v15/.suo
internal/dll_project/ohtorii_tools/.vs/ohtorii_tools/v15/.suo
internal/dll_project/ohtorii_tools/ohtorii_tools/ohtorii_tools.vcxproj.user

