*.cache
*.codeanalysis
*.codeanalysisast
*.db
*.db-shm
*.db-wal
*.exp
*.hmbook
*.hmdesk
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysissucceeded
*.lib
*.log
*.obj
*.opendb
*.pch
*.pdb
*.suo
*.tlog
*.user
tags
ctags
internal/gui.mac.ini

_vim_unite_
.vs
.vscode
Release
Debug
obj

internal/dll_project/file_searcher/file_searcher/bin/
