*.ipch
*.db
*.opendb
*.obj
*.tlog
*.pch
*.pdb
*.exp
*.iobj
*.ipdb
*.lib
*.log
*.db-shm
*.db-wal
*.lastcodeanalysissucceeded
*.ilk
*.codeanalysis
*.codeanalysisast
*.hmbook
*.hmdesk
tags
ctags
dll_project/ohtorii_tools/.vs/ohtorii_tools/v15/.suo
dll_project/ohtorii_tools/ohtorii_tools/ohtorii_tools.vcxproj.user
macro/temp_history.txt
dll_project/ohtorii_tools/ohtorii_tools/Release/
dll_project/ohtorii_tools/ohtorii_tools/x64/Release/
dll_project/ohtorii_tools/Release/
dll_project/ohtorii_tools/x64/Release/
_vim_unite_
/dll_project/ohtorii_tools/ohtorii_tools/x64/Release
/dll_project/ohtorii_tools/ohtorii_tools/x64/Debug
/.vs
.vscode
dll_project/ohtorii_tools/x64/Debug/ohtorii_tools_x64.dll
dll_project/ohtorii_tools/x64/Release/UnitTest.dll
sources/tags
dll_project/ohtorii_tools/UnitTest/x64/Release
dll_project/file_searcher/.vs/file_searcher
dll_project/file_searcher/file_searcher/obj
dll_project/file_searcher/file_searcher/bin/
internal/gui.mac.ini
